* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gst-calDiv {
    background-color: #f7f7f7;
    padding: 3rem;
    margin: 10px;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.div-block {
    display: flex;
    justify-content: space-around;
}

.iconMath {
    display: flex;
    align-items: center;
}

.iconMath i {
    font-size: 30px;
}

.inputDiv {
    text-align: center;
}

.inputDiv label {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

@media (max-width: 576px) {
    .div-block {
        justify-content: center;
        flex-direction: column;
    }
    .iconMath{
        justify-content: center;
        padding: 10px 0 20px; 
    }
}